{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar nav-pills">
      <ul class="nav nav-tabs navbar-left">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/main">Main</a></li>
            <li role="presentation"><a href="/result">result</a></li>
            <li role="presentation"><a href="/about">About</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if not username %}
                <li><a href="#">登陆</a></li>
            {% endif %}

            {% if username %}
                <li><a href="/logout">{{username}}</a></li>
            {% endif %}

        </ul>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3" style="text-align: center">
            这是一个水印嵌入系统,将就用吧.
        </div>
    </div>
{% endblock %}